body {
  background: url('../img/crisscross.png');
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.weather {
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

.weather h2 {
  margin: 0 0 8px;
  color: #595959;
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  background: #595959;
  background: rgba(255,255,255,0.90);
  padding: 0px;
  display: inline-block;
  border-radius: 5px;
}

.weather .currently {
  margin: 0 20px;
}

/*
#box {
  background: #fff;
  margin-left: 647px;
  position: relative;
  padding-bottom: 25px;
  text-align: center;
  max-width: 500px;
  min-height: 335;
}
*/

#weather2 {
  border-top: 2px solid #595959;
  margin-top: 45px;
}

/*

#weather {
  position: relative;
  top: 60px;
  bottom: 60px;
  text-align: center;
  max-width: 400px;
  height: 500px;
  background-color: white;
}

*/


/*

#box {
  background: #fff; 
  box-shadow: 6px 6px 37px 0px rgba(17,17,17,0.64);
  margin-top: 60px;
  padding: 25px 0 25px 0;
}

#zipcode {
  margin-bottom: 100px;
  margin-left: 296px;
  position: relative;
}

*/


/* GRID */

/*

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  clear: both;
}

.row {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.column100 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.column90 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 90%;
}

.column80 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 80%;
}

.column75 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 75%;
}

.column70 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 70%;
}

.column66 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 66.66666%;
}

.column60 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 60%;
}

.column50 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.column40 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 40%;
}

.column33 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 33.333333%;
}

.column30 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 30%;
}

.column25 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 25%;
}

.column20 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 20%;
}

.column10 {
  float: left;
  margin: 0;
  padding: 0px;
  width: 10%;
}

.header100 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.header90 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 90%;
}

.header80 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 80%;
}

.header75 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 75%;
}

.header70 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 70%;
}

.header66 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 66.66666%;
}

.header60 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 60%;
}

.header50 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.header40 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 40%;
}

.header33 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 33.333333%;
}

.header30 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 30%;
}

.header25 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 25%;
}

.header20 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 20%;
}

.header10 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 10%;
}

.footer100 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.footer90 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 90%;
}

.footer80 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 80%;
}

.footer75 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 75%;
}

.footer70 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 70%;
}

.footer66 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 66.66666%;
}

.footer60 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 60%;
}

.footer50 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.footer40 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 40%;
}

.footer33 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 33.333333%;
}

.footer30 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 30%;
}

.footer25 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 25%;
}

.footer20 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 20%;
}

.footer10 {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 10%;
}

.column-box {
  margin: 0 5px;
}

#wrapper:after,
#main:after,
header:after,
footer:after,
.container:after,
.row:after,
.column-box:after,
.header100:after,
.header90:after,
.header80:after,
.header75:after,
.header70:after,
.header66:after,
.header60:after,
.header50:after,
.header40:after,
.header33:after,
.header30:after,
.header25:after,
.header20:after,
.header10:after,
.column100:after,
.column90:after,
.column80:after,
.column75:after,
.column70:after,
.column66:after,
.column60:after,
.column50:after,
.column40:after,
.column33:after,
.column30:after,
.column25:after,
.column20:after,
.column10:after,
.footer100:after,
.footer90:after,
.footer80:after,
.footer75:after,
.footer70:after,
.footer66:after,
.footer60:after,
.footer50:after,
.footer40:after,
.footer33:after,
.footer30:after,
.footer25:after,
.footer20:after,
.footer10:after,
nav:after,
ul:after,
#slideshow:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

*/

/**************************************************************/
/******************** MEDIAQUERY RESPONSIVE *******************/
/**************************************************************

980px +
768px - 979px
480px - 767px
0px - 479px

*/

/*

@media (min-width: 768px) and (max-width: 979px) {
.container {
  width: 768px;
}

#main {
  background: none;
  
}

}


@media (min-width: 480px) and (max-width: 767px) {

#main {
  background: none;
  
}

.container {
  width: 100%;
}

.column100 {
  float: none;
  width: 100%;
}

.column90 {
  float: none;
  width: 100%;
}

.column80 {
  float: none;
  width: 100%;
}

.column75 {
  float: none;
  width: 100%;
}

.column70 {
  float: none;
  width: 100%;
}

.column66 {
  float: none;
  width: 100%;
}

.column60 {
  float: none;
  width: 100%;
}

.column50 {
  float: none;
  width: 100%;
}

.column40 {
  float: none;
  width: 100%;
}

.column33 {
  float: none;
  width: 100%;
}

.column30 {
  float: none;
  width: 100%;
}

.column25 {
  float: none;
  width: 100%;
}

.column20 {
  float: none;
  width: 100%;
}

.column10 {
  float: none;
  width: 100%;
}

.column-box {
  margin: 0px;
}

}

@media (min-width: 0px) and (max-width: 479px) {



#bio {
  margin-left: 3%;
}

#bio2 {
  margin: 0 11% 0 3%;
}

footer p {
  margin-left: 10%;
}

footer ul {
  margin-right: 75px;
}

main img {
  width: 100%;
}

#main {
  background: none;
  
}

#me {
  margin-left: 3%;
}


nav a {
  padding: 15px;
}

nav li {
  display: inline-block;
  }

nav ul {
  margin-right: 4%;
}

#info p {
  float: none;
  text-align: center;
}

.container {
  width: 100%;
}

.column100 {
  float: none;
  width: 100%;
}

.column90 {
  float: none;
  width: 100%;
}

.column80 {
  float: none;
  width: 100%;
}

.column75 {
  float: none;
  width: 100%;
}

.column70 {
  float: none;
  width: 100%;
}

.column66 {
  float: none;
  width: 100%;
}

.column60 {
  float: none;
  width: 100%;
}

.column50 {
  float: none;
  width: 100%;
}

.column40 {
  float: none;
  width: 100%;
}

.column33 {
  float: none;
  width: 100%;
}

.column30 {
  float: none;
  width: 100%;
}

.column25 {
  float: none;
  width: 100%;
}

.column20 {
  float: none;
  width: 100%;
}

.column10 {
  float: none;
  width: 100%;
}

.column-box {
  margin: 0px;
}

}

body {
width: 100%;
}
















































/* body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #fff;
}

button {
  display: block;
  margin: 15px auto;
  width: 140px;
  padding: 5px;
  background: white;
  color: black;
  border: 0;
  border-radius: 5px;
}

.weather {
  width: 425px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

.weather h2 {
  margin: 0 0 8px;
  color: #999;
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

.weather .currently {
  margin: 0 20px;
}

#weather2 {
  border-top: 2px solid lightblue;
  margin-top: 45px;
}

#zipcode {
  margin-bottom: 100px;
  margin-left: 296px;
  position: relative;
}
*/