/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
  text-decoration: none;
  color: lightblue;
  margin-left: 120px;
  padding-top: 15px;
}

body {
  background: url('../img/lines.png');
  padding: 45px 0;
  font: 13px 'League Gothic', sans-serif;
}

button {
  display: block;
  margin: 15px auto;
  width: 140px;
  padding: 5px;
  background: transparent;
  color: #595959;
  border: 0;
  border-radius: 5px;
}

.weather {
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

.weather h2 {
  margin: 0 0 8px;
  color: #595959;
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  background: #595959;
  background: rgba(255,255,255,0.90);
  color: rgb(255, 83, 83);
  padding: 0px;
  display: inline-block;
  border-radius: 5px;
}

.weather .currently {
  margin: 0 20px;
}

#header {
  color: white;
  font: 90px 'League Gothic', sans-serif;

  margin: -110px 0 -95px -300px;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


i {
  color: #595959;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }





@media (min-width: 768px) and (max-width: 979px) {

a {
  margin-left: 50px;
}

body {
  background: none;
}

button {
  margin: 15px 25px;
}

#header {
  font: 90px 'League Gothic', sans-serif;
  margin: -115px 0 -85px -170px;
}

.weather h2 {
  font-size: 75px;
}

}


@media (min-width: 480px) and (max-width: 767px) {

a {
  margin-left: 20px;
}

body {
  background: none;
}

button {
  margin: 15px -15px;
}

#header {

  font: 90px 'League Gothic', sans-serif;
  margin: -115px 0 -85px -170px;
}

.weather h2 {
  font-size: 75px;
}
  
}

@media (min-width: 0px) and (max-width: 479px) {

a {
  margin-left: 11px;
}

body {
  background: none;
  
}

button {
  margin: 15px -55px;
}

#header {
  font: 60px 'League Gothic', sans-serif;
  margin: -75px 0 -45px -115px;
}

i {
  display: none;
}

.weather {
  margin: 0px -23px;
}

.weather h2 {
  font-size: 50px;
  margin: 0px -40px 8px;
}

.weather .currently {
margin: 0 0px;
}


}
